
body {
    background: linear-gradient(135deg, #cceeff, #00498c);
    font-family: 'Roboto', sans-serif;
    height: 780px;
    
}


#form {
    position: center;
    width: 50%;
    height: 100%;
    margin: 20px auto 0 auto;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 4px;
    font-size: 12px;
}

td {

    padding: 10px;
    column-width: 2000px;
}

#form h1 {
    color: #0f2027;
    text-align: left;
}

#form button {
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 500;
    width: 100%;
    color: white;
    background: linear-gradient(135deg, #cceeff, #00498c);
    border: none;
    border-radius: 4px;
}

#form button:hover{
    background: linear-gradient(135deg, #00498c, #cceeff);
    background-color: #00498c;
}

.input-control {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 500;
}

.input-control input {

    border: 1px solid #ccc;
	border-radius: 5px;
    border-bottom-width: 2px;
	display: block;
	font-size: 16px;
	padding: 10px;
	width: 95%;
    outline: none;
    transition: all 0.3s ease;
}

.input-control input:focus {
    border-color: #00498c;
    outline: 0;
}

.input-control.success input {
    border-color: #09c372;
}

.input-control.error input {
    border-color: #ff3860;
}

.input-control .error {
    color: #ff3860;
    font-size: 9px;
    height: 13px;
}

.gender-details .error {
    color: #ff3860;
    font-size: 9px;
    height: 13px;
}

.gender-details .gender-title{
    font-size: 20px;
    font-weight: 500;
}
.gender-details .category{
    display: flex;
    width: 60%;
    margin: 14px 0;
    justify-content: space-between;
}
.category label{
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: center;
}
.category .dot{
    height: 18px;
    width: 18px;
    background: #d9d9d9;
    border-radius: 50%;
    margin-right: 10px;
    border: 5px solid transparent;
    transition: all 0.3s ease;
}
#dot-male:checked ~ .category label .one,
#dot-female:checked ~ .category label .two{
    border-color: #d9d9d9;
    background: linear-gradient(135deg, #cceeff, #00498c);
}
input[type="radio"]{
    display: none;
}

.checkbox {
    display:block;
    max-width: 800px;
    font-size: 16px;
    }
    

    
    input {
    height: 20px;
    width: 20px;
    vertical-align: middle;
    }